script(type='text/javascript', src="/javascripts/bootstrap.min.js")
link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

h1 Create Goal
form(
    action="/add_goal"
    method="POST"
	enctype="multipart/form-data"
)
    label(
        for="goal_name"
    ) Goal Name:
    input(
        type="text"
        id="goal_name"
        name="goal_name"
        class="form-control"
    )
    label(
        for="goal_string"
    ) Goal Description:
    input(
        type="text"
        id="goal_string"
        name="goal_string"
        class="form-control"
    )
    label(
        for="goal_image"
    ) Goal Image:
    input(
        type="file"
        id="goal_image"
        name="goal_image"
        class="form-control"
    )
    label(
        for="finish"
    ) Finish Date:
    input(
        type="text"
        id="finish"
        name="finish"
        class="form-control"
    )
    div(
        class="submit_btn_group"
    )
        input(
            type="submit"
            class="btn btn-default"
        )
        button(
            class="btn btn-default closedialog"
        ) Close
