extends layout

block content
    div(
        id="formbox"
        class="container"
    )
        div(
            class="row"
        )
            div(
                class=['col-md-3', 'col-md-offset-4', 'well']
            ) 
                h1 Login
                form(
                    action="/login/"
                    method="POST"
                    id="login_form"
                )
                    label(
                        for="username"
                    ) Username:
                    input(
                        type="text"
                        id="username"
                        name="username"
                        placeholder="Enter username"
                        class="form-control"
                    )
                    label(
                        for="password"
                    ) Password:
                    input(
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Enter password"
                        class="form-control"
                    )
                    p(style="color:red") #{error}
                    input(
                        type="submit"
                        class=['btn', 'btn-default']
                        id="submit_button"
                    )   
